<template>
  <div>{{ this.$route.path }}</div>
</template>

<script>
export default {
  name: "jeuRami",
  components: {
    //RamiVue,
  },
  data: function () {
    return {
      guid: "guid",
      ruid: "ruid",
    };
  },
  methods: {},
};
</script>
<style scoped></style>
