<template>
  <div
    :style="{ display: 'none!important' }"
    style="position: relative; border: none; border-radius: 0; opacity: 0.5"
    class="alert alert-success m-0 row"
    role="alert"
  >
    <div
      style="height: 50px; overflow: auto; font-size: small"
      class="col-11 small"
    >
      <div v-for="notif in alert" v-bind:key="notif">{{ notif }}</div>
    </div>

    <button
      style="border: none"
      @click="
        shownotif = false;
        alert = [];
      "
      class="col-1 border-none"
    >
      x
    </button>
  </div>
  <div
    style="display: none; height: 100px; width: 200px; border: solid 1px"
    @drop="(ev) => console.log(ev.dataTransfer)"
    @dragover="(ev) => ev.preventDefault()"
  ></div>
  <div class="row m-0" style="">
    <div class="">
      <div class="form-group">
        <div v-if="!hideclicked" class="row inputs">
          <div class="imp col-md-6 col-6 px-1">api url</div>

          <input
            class="imp col-md-6 col-6 px-1"
            title="api url"
            v-model="api_url"
            @change="urlchange"
          />

          <input
            class="impn imp col-md-3 col-12 px-1"
            title="game_id"
            v-model="game_id"
          />

          <input
            class="imp impn col-md-3 col-12 px-1"
            title="user_uid"
            v-model="user_uid"
          />

          <div class="imp col-md-2 col-6 px-1">name</div>

          <input
            class="imp col-md-2 col-6 px-1"
            title="user_name"
            v-model="user_name"
            @change="usernameChange"
          />

          <div class="imp col-md-2 col-6 px-1">order</div>
          <input
            class="imp col-md-2 col-6 px-1"
            title="user_id"
            v-model="user_id"
          />

          <div class="imp col-md-2 col-6 px-1">nbplayers</div>

          <input
            class="imp col-md-2 col-6 px-1"
            title="np_players"
            v-model="np_players"
          />
        </div>
        <div class="row" style="background-color: rgba(255, 50, 0, 0.2)">
          <div
            class="col-12"
            @click="hideclicked = !hideclicked"
            style="cursor: pointer"
          >
            <div class="hide" :class="{ hideclicked: hideclicked }">
              {{ hideclicked ? ">" : "<" }}
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-around">
          <div @click="getCard" class="btn-container">
            <img
              class="btn-img"
              v-bind:src="
                require('../assets/cards/SVG-cards-1.3/SVG-cards-1.3/Card_back_01.svg')
              "
            />
            <span class="img-txt"> echri </span>
          </div>
          <div @click="getCardDown" class="btn-container">
            <img
              class="btn-img"
              v-bind:src="
                require('../assets/cards/SVG-cards-1.3/SVG-cards-1.3/Card_back_01.svg')
              "
            />
            <span class="img-txt"> rakked </span>
          </div>

          <div @click="getthrown" class="btn-container">
            <img
              class="btn-img"
              v-bind:src="
                require('../assets/cards/SVG-cards-1.3/SVG-cards-1.3/Card_back_01.svg')
              "
            />
            <span class="img-txt"> faskel </span>
          </div>
          <div @click="throwCard" class="btn-container">
            <img
              class="btn-img"
              v-bind:src="
                require('../assets/cards/SVG-cards-1.3/SVG-cards-1.3/Card_back_01.svg')
              "
            />
            <span class="img-txt"> tayech </span>
          </div>
          <div @click="getDown" class="btn-container">
            <img
              class="btn-img"
              v-bind:src="
                require('../assets/cards/SVG-cards-1.3/SVG-cards-1.3/Card_back_01.svg')
              "
            />
            <span class="img-txt"> ahbet </span>
          </div>
          <div @click="revertGame" class="btn-container">
            <img
              class="btn-img"
              v-bind:src="
                require('../assets/cards/SVG-cards-1.3/SVG-cards-1.3/Card_back_01.svg')
              "
            />
            <span class="img-txt"> arje3 </span>
          </div>
          <div @click="refreshGame" class="btn-container">
            <img
              class="btn-img"
              v-bind:src="
                require('../assets/cards/SVG-cards-1.3/SVG-cards-1.3/Card_back_01.svg')
              "
            />
            <span class="img-txt"> refresh </span>
          </div>
          <div @click="initGame" class="btn-container">
            <img
              class="btn-img"
              v-bind:src="
                require('../assets/cards/SVG-cards-1.3/SVG-cards-1.3/Card_back_01.svg')
              "
            />
            <span class="img-txt"> init </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="row m-0">
      <div class="col-12 col-md-10">
        <!--h3>Draggable {{ draggingInfo }}</h3-->

        <div class="d-flex justify-content-around">
          <img
            style="height: 15vh"
            v-bind:src="
              require('../assets/cards/SVG-cards-1.3/SVG-cards-1.3/' +
                'Card_back_01.svg')
            "
          />
          <draggable
            :list="thrown"
            :disabled="false"
            item-key="name"
            class="list-group2 d-flex"
            ghost-class="ghost"
            :move="checkMove(thrown.length)"
            @start="dragging = true"
            @end="dragging = false"
          >
            <template #item="{ element, index }">
              <div
                :style="{
                  /*'transform-origin':'right bottom',
            transform: `translate(${index*0+80}%, 0)`
      + ` rotate(${(index)*0.21/14-0.02}turn)`
      ,*/
                  width: '2vh',
                  overflow: index >= thrown.length - 1 ? 'hidden2' : 'hidden2',
                  top: element.selected ? 0 : 0,
                }"
                class="list-group-item"
                :class="{ 'not-draggable': !enabled }"
              >
                <div
                  style="display: "
                  v-on:dblclick="element.selected = !element.selected"
                >
                  <img
                    style="height: 15vh"
                    v-bind:src="
                      require('../assets/cards/SVG-cards-1.3/SVG-cards-1.3/' +
                        getNumber2(element.number, element.color) +
                        '.svg')
                    "
                  />
                </div>
              </div>
            </template>
          </draggable>
        </div>

        <div>
          <div
            :class="{ fullscreen: fullscreen }"
            class="d-flex justify-content-around m-0"
          >
            <!--h3>Draggable {{ draggingInfo }}</h3-->

            <draggable
              :list="myCards"
              :disabled="!enabled"
              item-key="name"
              class="list-group2 d-flex"
              ghost-class="ghost"
              :move="checkMove(myCards.length)"
              @start="dragging = true"
              @end="onDrageEnd(100)"
            >
              <template #item="{ element, index }">
                <div
                  :style="{
                    /*'transform-origin':'right bottom',
            transform: `translate(${index*0+80}%, 0)`
      + ` rotate(${(index)*0.21/14-0.02}turn)`
      ,*/
                    width:
                      index >= myCards.length - 1
                        ? '3vh'
                        : fullscreen
                        ? '6vh'
                        : '3vh',
                    overflow:
                      (index >= myCards.length - 1 && !lastdragging) ||
                      (index == myCards.length - 2 && lastdragging)
                        ? 'hidden'
                        : 'hidden',
                    top:
                      (element.selected ? -5 : 0 + fullscreen ? 20 : 0) + 'vh',
                  }"
                  class="list-group-item"
                  :class="{ 'not-draggable': !enabled }"
                >
                  <div
                    style="display: "
                    v-on:dblclick="element.selected = !element.selected"
                  >
                    <img
                      :style="{ height: fullscreen ? '50vh' : '15vh' }"
                      v-bind:src="
                        require('../assets/cards/SVG-cards-1.3/SVG-cards-1.3/' +
                          getNumber2(element.number, element.color) +
                          '.svg')
                      "
                    />
                  </div>
                </div>
              </template>
            </draggable>
            <div
              class="m-2 p-1"
              v-bind:title="fullscreen ? 'close' : 'go fullscreen'"
              style="
                display: none;
                z-index: 100;
                background-color: white;
                cursor: pointer;
                height: 35px;
                border: solid 1px;

                width: 20px;
              "
              @click="fullscreen = !fullscreen"
            >
              {{ fullscreen ? "x" : "f" }}
            </div>
          </div>
        </div>

        <div v-for="player in players" v-bind:key="player.order">
          <div class="d-flex p-1">
            <div class="m-2" style="width: 10vw; overflow: hidden">
              <input
                v-if="player.cards[0].number != undefined"
                class=""
                style="
                  border: solid 1px rgba(0, 0, 0, 0.1);
                  text-align: center;
                  width: 10vw;
                "
                title="user_name"
                v-model="user_name"
                v-bind:placeholder="player.order"
                @change="usernameChange"
              />
              <span v-else>{{ player.name || player.order }}</span>
            </div>
            <div
              class="d-flex"
              :style="{ width: player.cards.length * 0.5 + 15 + 'vh' }"
            >
              <div v-for="card in player.cards" v-bind:key="card.id">
                <div style="width: 0.5vw">
                  <img
                    :style="{
                      height: player.cardsDown.length > 0 ? '15vh' : '8vh',
                    }"
                    v-bind:src="
                      require('../assets/cards/SVG-cards-1.3/SVG-cards-1.3/' +
                        'Card_back_01.svg')
                    "
                  />
                </div>
              </div>
            </div>
            <div
              v-for="(down, index2) in player.cardsDown"
              v-bind:key="down.ib"
            >
              <div class="px-3">
                <draggable
                  :list="makeReactive(down)"
                  :disabled="false"
                  item-key="id"
                  class="list-group2 d-flex"
                  ghost-class="ghost"
                  :move="checkMove(down.length)"
                  @start="dragging = true"
                  @end="onDrageEnd(index2)"
                >
                  <template #item="{ element, index }">
                    <div
                      :style="{
                        /*'transform-origin':'right bottom',
            transform: `translate(${index*0+80}%, 0)`
      + ` rotate(${(index)*0.21/14-0.02}turn)`
      ,*/
                        width: '2vh',
                        overflow:
                          index >= down.length - 1 ? 'hidden' : 'hidden',
                        top: element.selected ? '-2vh' : 0,
                      }"
                      class="list-group-item"
                      :class="{ 'not-draggable': !enabled }"
                    >
                      <div
                        style="display: "
                        v-on:dblclick="element.selected = !element.selected"
                      >
                        <img
                          style="height: 15vh"
                          v-bind:src="
                            require('../assets/cards/SVG-cards-1.3/SVG-cards-1.3/' +
                              getNumber2(element.number, element.color) +
                              '.svg')
                          "
                        />
                      </div>
                    </div>
                  </template>
                </draggable>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-2">
        <div v-for="notif in shownalert" v-bind:key="notif[1]">
          <div class="alert alert-success" v-html="notif[0]" role="alert"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as axios from "axios";
import draggable from "vuedraggable";
import { reactive } from "vue";
import { io } from "socket.io-client";
import full from "core-js/full";

let query = document.location.search;
const urlParams = new URLSearchParams(query);
let game_id = urlParams.get("game_id");
let user_uid = urlParams.get("user_uid");
let user_id = urlParams.get("user_id");
if (game_id) localStorage.setItem("game_id", game_id);
if (user_uid) localStorage.setItem("user_uid", user_uid);
if (user_id) localStorage.setItem("user_id", user_id);
console.log(game_id);

// "undefined" means the URL will be computed from the `window.location` object
//process.env.NODE_ENV = "production";
let api_url = localStorage.getItem("api_url") || undefined;
const URL =
  process.env.NODE_ENV === "production" ? api_url : "http://192.168.1.188:8086";

export const state = reactive({
  connected: false,
  fooEvents: [],
  barEvents: [],
});

export const socket = io(URL);
socket.on("connect", () => {
  state.connected = true;
});

socket.on();

socket.on("disconnect", () => {
  state.connected = false;
});

socket.on("foo", (...args) => {
  state.fooEvents.push(args);
});

socket.emit("join", { room: "someroom", username: "someuser" });

let cardsBase = Array.from(Array(26))
  .flatMap((v, i) => [
    { number: Math.floor(i / 2) + 1, color: "clubs" },
    { number: Math.floor(i / 2) + 1, color: "spades" },
    { number: Math.floor(i / 2) + 1, color: "hearts" },
    { number: Math.floor(i / 2) + 1, color: "diamonds" },
  ])
  .concat(
    Array.from(Array(4)).map((v, i) => {
      return { number: 0, color: "hearts" };
    })
  );

function shuffle(array) {
  let currentIndex = array.length,
    randomIndex;

  // While there remain elements to shuffle.
  while (currentIndex > 0) {
    // Pick a remaining element.
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex--;

    // And swap it with the current element.
    [array[currentIndex], array[randomIndex]] = [
      array[randomIndex],
      array[currentIndex],
    ];
  }

  return array;
}

let ax = new axios.Axios({
  baseURL:
    process.env.NODE_ENV === "production"
      ? api_url
      : "http://192.168.1.188:8086",
});
let id = 1;
export default {
  name: "simpleList",
  display: "Simple",
  order: 0,
  players: [],
  fullcard: true,
  cardback: require("../assets/cards/SVG-cards-1.3/SVG-cards-1.3/Card_back_01.svg"),
  reactive: reactive,
  components: {
    draggable,
  },
  data() {
    return {
      enabled: true,
      myCards: [],
      dragging: false,
      lastdragging: reactive(false),
      user_name: "",
      np_players: 4,
      hideclicked: true,
      alert: [],
      api_url: localStorage.getItem("api_url"),
      shownalert: [],
      players: [],
      fullscreen: false,
      shownotif: true,
      user_id: localStorage.getItem("user_id") || 0,
      user_uid: localStorage.getItem("user_uid"),
      thrown: [],
      game_id: localStorage.getItem("game_id") || "init",
    };
  },
  computed: {
    draggingInfo() {
      return this.dragging ? "under drag" : "";
    },
  },
  beforeCreate: function () {
    socket.on("update", (...args) => {
      //state.barEvents.push(args);
      this.refreshGame();
    });
    socket.on("notif", (...args) => {
      //state.barEvents.push(args);
      this.alert.push(args[0]);
      this.shownalert = this.alert
        .map((v, index) => {
          v = v.replace("origin", document.location.origin);
          return [v, index];
        })
        .slice(this.alert.length >= 4 ? this.alert.length - 4 : 0);
      console.log("notif", args);
      this.shownotif = true;
    });
  },
  beforeMount: function () {
    this.refreshGame();
  },
  methods: {
    makeReactive: function (o) {
      return reactive(o);
    },
    initGame: function () {
      ax.get(`/game/init?np=${this.np_players}`).then((g) => {
        let game = JSON.parse(g.data);
        this.game_id = game.uid;
        this.refreshGame();
      });
    },
    refreshGame: function () {
      ax.get(`/game/${this.game_id}/${this.user_uid || this.user_id}`)
        .then((g) => {
          let game = JSON.parse(g.data);
          this.game_id = game.uid;
          if (game.players[this.user_id].uid) {
            this.myCards = game.players[this.user_id].cards;
            this.user_uid = game.players[this.user_id].uid;
            this.user_name = game.players[this.user_id].name;
          } else {
            this.user_uid = "";
            this.myCards = [];
            this.user_name = [];
          }
          this.np_players = game.players.length;

          this.players = game.players;
          this.thrown = game.thrownCards;

          localStorage.setItem("game_id", game.uid);
          localStorage.setItem("user_uid", this.user_uid);
          localStorage.setItem("user_id", this.user_id);
          let npath = `?game_id=${game.uid}&user_uid=${this.user_uid}&user_id=${this.user_id}`;
          if (window.location.search != npath) window.location.search = npath;
        })
        .catch((v) => {
          /*this.user_uid = "";
          this.myCards = [];
          this.user_name = [];*/
        });
    },
    throwCard: function () {
      let elm = this.myCards.filter((v) => v.selected);
      if (elm.length == 1)
        ax.get(`/game/${this.game_id}/${this.user_uid}/${elm[0].id}`).then(
          (g) => {
            console.log(g);
          }
        );
    },
    getCard: function () {
      ax.get(`/game/${this.game_id}/${this.user_uid}/get`).then((g) => {
        console.log(g);
      });
    },
    getDown: function () {
      let sel = this.myCards.filter((v) => v.selected).length;
      if (sel > 0)
        ax.get(
          `/game/${this.game_id}/${this.user_uid}/down?cards=${this.myCards
            .filter((v) => v.selected)
            .map((v) => v.id)
            .join(",")}`
        ).then((g) => {
          console.log(g);
        });
    },
    getthrown: function () {
      ax.get(`/game/${this.game_id}/${this.user_uid}/getthrown`).then((g) => {
        console.log(g);
      });
    },

    revertGame: function () {
      ax.get(`/game/${this.game_id}/${this.user_uid}/revert`);
    },

    getCardDown: function () {
      console.log("hello");
      let mycard = this.myCards.find((v) => v.selected);
      let possible = this.players.flatMap((player) => {
        var cards = player.cardsDown.flatMap((down, index) =>
          down
            .filter((v) => v.selected)
            .map((card) => {
              return { order: player.order, cardid: card.id, downi: index };
            })
        );
        return cards;
      });

      var ps = possible
        .map((v) => `${mycard.id},${v.order},${v.downi},${v.cardid}`)
        .join(";");

      ax.get(`/game/${this.game_id}/${this.user_uid}/downcard?possible=${ps}`);
    },
    urlchange: function () {
      console.log(this.api_url);
      localStorage.setItem("api_url", this.api_url);
    },

    usernameChange: function () {
      ax.get(
        `/game/${this.game_id}/${this.user_uid}/name?name=${this.user_name}`
      );
    },

    getNumber2: function (number, color) {
      switch (number) {
        case 0:
          return "red_joker";
        case 1:
          return "ace_of_" + color;
        case 11:
          return "jack_of_" + color + "2";
        case 12:
          return "queen_of_" + color + "2";
        case 13:
          return "king_of_" + color + "2";
        default:
          return number + "_of_" + color;
      }
    },
    add: function () {
      this.list.push({ name: "Juan " + id, id: id++ });
    },
    replace: function () {
      this.list = [{ name: "Edgard", id: id++ }];
    },
    checkMove: function (n = 1) {
      return (e) => {
        this.lastdragging = e.draggedContext.index == n - 1;
        window.console.log(
          "Future index: " +
            e.draggedContext.element +
            "  " +
            this.lastdragging +
            " " +
            e.draggedContext.futureIndex +
            "  " +
            e.draggedContext.index
        );
        //e.draggedContext.element.style.overflow = "hidden";
      };
    },
    onDrageEnd: function (tp = 0) {
      this.dragging = false;

      ax.get(
        `/game/${this.game_id}/${this.user_uid}/sort/${tp}?cards=${(tp == 100
          ? this.myCards
          : this.players[this.user_id].cardsDown[tp]
        )
          .map((v) => v.id)
          .join(",")}`
      );
    },
  },
};
</script>
<style scoped>
.buttons {
  margin-top: 35px;
}

.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}
.btn-img {
  opacity: 0.4;
  width: 5vh;
  transform: rotate(0.25turn);
  cursor: pointer;
  src: require(
    "../assets/cards/SVG-cards-1.3/SVG-cards-1.3/" + "Card_back_01.svg"
  );
}

.img-txt {
  color: black;
  font-weight: bold;
  position: absolute;
  font-size: 1vh;
  left: 0.3vh;
  top: 2vh;
  cursor: pointer;
}

.btn-container {
  position: relative;
}

.btn-img:hover {
  opacity: 0.8;
}
.imp {
  border: none;
  opacity: 0.5;
  font-size: small;
}
.inputs {
  /*display: none;*/
  background-color: rgba(255, 30, 0, 0.1);
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: wheat;
  z-index: 1000;
  overflow: auto;
}

.impn {
  display: none;
}

.hide {
  width: fit-content !important;
  font-size: x-small;
  cursor: pointer;
  transform: rotate(0.25turn);
  position: relative;
  left: 50%;
  color: rgba(255, 30, 0, 0.3);
  font-weight: bold;
}

.hideclicked {
}
</style>
